<!-- nav -->
<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon"><i class="fa fa-car"></i></span><span>myAuto</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="projects.html">Projects</a></li>
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link" href="team.html">Team</a></li>
                <li class="nav-item"><a class="nav-link" href="contacts.html">Contacts</a></li>
                <li class="nav-item"><a class="nav-link" href="signup.html">Sign up</a></li>
            </ul><a class="btn btn-primary shadow" role="button" routerLink="login">Login</a>
        </div>
    </div>
</nav>
<!-- main content container -->
<div style="margin-top: 60px; ">
    <div class="container" >
        <div class="row">
            <div  style="margin-top: 60px; width: 100%; height: auto; ">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>