
<div class="container bootdey">
    <!-- Titre -->
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-lg-6">
          <!-- Section Heading-->
          <div id="titre" class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <h1>Liste des<span> clients</span></h1>
            <p>Ici, vous trouverez tous les choix validés par les clients. Appuyer sur <b>"Planifier RDV"</b> pour planifier un rendez-vous avec un client.</p>
            <div class="line">
              <hr>  
            </div>
          </div>
        </div>
      </div>
      <!-- fin -->
    <div class="row flex-row">
        <div *ngFor="let choixclient of choixclients" class="col-md-5 col-sm-6 col-remove">
            <div class="widget-image has-shadow">
                <div class="contact-card-2">
                    <div class="cover-bg">
                        <img src="https://www.largus.fr/images/images/mercedes-x350d-2018-002.jpg" class="img-fluid" alt="...">
                    </div>
                    <div class="widget-body">
                        <div class="cover-image mx-auto">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="..." class="rounded-circle mx-auto">
                        </div>
                        <h4 class="nomVoiture">{{choixclient.nomVoiture}}</h4>
                        <div class="fabricant">{{choixclient.fabricant}}</div>
                        <div class="text-center pt-5 pb-3">
                            <a href="#" class="btn btn-success">Details</a>
                            <a href="#" class="btn btn-shadow">Planifier RDV</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
       