<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">
<div class="row">
    <div class="col-12 col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Liste des choix des clients</h4>
            </div>
            <div class="card-body" >
                <div  class="table-responsive" id="proTeamScroll" tabindex="2" style="height: auto; overflow: hidden; outline: none;">
                    <table class="table " *ngFor="let c of choixclients">
                        <thead>
                            <tr>
                                <th>Cust.</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Télephone</th>
                                <th>Modèle</th>
                                <th>Couleur</th>
                                <th>Jantes</th>
                                <th>Siège</th>
                                <th>Pneus</th>
                                <th>Type de verre</th>
                                <th>RDV</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="table-img"><img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="">
                                </td>
                                <td>
                                    <h6 >{{c.nom}}</h6>
                                </td>
                                <td>
                                    <h6 >{{c.prenom}}</h6>
                                </td>
                                <td class="text-truncate">
                                    <h6 >{{c.tel}}</h6>

                                </td>
                                <td>
                                    <h6 >{{c.nomVoiture}}</h6>                                
                                </td>
                                <td >
                                    <h6 >{{c.couleur}}</h6>                                
                                </td>
                                <td>
                                    <h6 >{{c.jantes}}</h6>                                

                                </td>
                                <td>
                                    <h6 >{{c.siege}}</h6>                                

                                </td>
                                <td>
                                    <h6 >{{c.pneus}}</h6>                                

                                </td>
                                <td>
                                    <h6 >{{c.typeVerre}}</h6>                                

                                </td>
                                <td>
                                   <a type="button" href="ajouterRdv/{{c.id}}" class="btn btn-primary btn-sm" >Planifier</a>                 
                                </td>
                                
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>